doctype html
html(lang="en")
  head
    title PowerSF Privacy Policy
  body
    h1 PowerSF Privacy Policy
    p PowerSF does not or intend to collect any personal user information. We will log anonymized search history across all users to provide, understand, and improve our services.
